/*******fonts *********/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@font-face {
    font-family: 'Bebas Neue';
    src: url('font/BebasNeue-Regular.woff') format('woff');
}

:root {
    /*** COLORS ***/
    --primary-color-tdx: #03437C;
    --secondary-color-tdx: #15357A;
    --accent-color-dtx: #F7F9FF;
    --text-color-dtx: #000000;
    --color-white-tdx: #fff;
    --boder-color: #CCCCCC;
    --error-msg-color: #F32131;
    /*** FONT SIZES ***/
    --banner-heading-first: 60px;
    --banner-heading-sec: 48px;
    --bold-text: 32px;
    --contect-heading: 32px;
    --paragraph-text: 20px;
    --body-text: 20px;
    --button-text-dtx: 16px;
    --promoted-btn: 18px;
    /*** FONT FAMILY ***/
    --bebas-neue: 'Bebas Neue';
    --inter: 'Inter';
    /*** FONT WEIGHT ***/
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extr-bold: 800;
}


/*** HEADING TEXT SIZE****/

h1 {
    font-family: var(--bebas-neue);
    font-family: 'Bebas Neue';
    /* font-weight: var(--font-weight-regular); */
}

h2 {
    font-size: var(--banner-heading-first);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color-tdx);
    font-family: var(--inter);
}

h3 {
    font-size: var(--banner-heading-sec);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color-tdx);
    font-family: var(--inter);
}

h4 {
    font-size: var(--paragraph-text);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color-tdx);
    font-family: var(--inter);
}

h5 {
    font-size: var(--contect-heading);
    font-weight: var(--font-weight-extr-bold);
    color: var(--primary-color-tdx);
    font-family: var(--inter);
}

h6 {
    color: var(--color-white-tdx);
    font-size: var(--contect-heading);
    font-weight: var(--font-weight-bold);
    font-family: var(--inter);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0rem !important;
}

img {
    max-width: 100%;
    height: auto;
}

.container-site {
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    padding-top: 30px;
}


/********baner start here *************/

.banner-featured {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.featured-text {
    max-width: 50%;
    width: 100%;
    padding-bottom: 30px;
    padding-right: 30px;
}

.featured-text h1 {
    color: var(--text-color-dtx);
    font-size: 50px;
    font-family: var(--bebas-neue);
    font-weight: var(--font-weight-regular);
}

.featured-text h1 span {
    color: var(--primary-color-tdx);
    font-size: 80px;
    font-family: var(--bebas-neue);
    font-weight: var(--font-weight-regular);
}

p.banner-featured-content {
    color: var(--text-color-dtx);
    opacity: 0.5;
    font-size: var(--body-text);
    line-height: 35px;
    font-family: var(--inter);
    font-weight: var(--font-weight-regular);
    text-align: justify;
    padding-top: 15px;
}

.featured-text a>button:after {
    content: " ";
    background-image: url(./image/call-banner.png);
    width: 35px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 10px;
}

.featured-text button {
    text-align: end;
    display: block;
    margin: 15px 0 0;
    padding: 15px 24px;
    border: 1px solid var(--secondary-color-tdx);
    border-radius: 8px;
    background-color: transparent;
    font-size: var(--body-text);
    color: var(--secondary-color-tdx);
    font-weight: var(--font-weight-semi-bold);
    cursor: pointer;
}

.featured-text a {
    text-decoration: none;
}

.featured-img {
    background: url(./image/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.featured-img {
    max-width: 50%;
    width: 100%;
    padding-left: 30px;
}

.featured-img img {
    max-width: 100%
}


/************* services section **************/

.service-sec {
    background: url(./image/bg-dtx.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0px 200px 0px;
}

.service-heading h2 {
    text-align: center;
}


/**********service section cards *******/

.service-card-sec {
    padding-bottom: 100px;
    margin-top: -50px;
}

.services-cards-row {
    background: var(--accent-color-dtx);
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
    flex-wrap: wrap;
}

.featured-cards-col {
    border-right: 1px solid var(--boder-color);
    padding: 0 50px;
    max-width: 33.33%;
    width: 100%;
    margin-bottom: 50px;
}

.featured-cards-col:nth-child(3n) {
    border-right: 0px !important;
}

.featured-content h4 {
    text-align: center;
    padding: 18px 0;
}

.featured-content img {
    display: block;
    margin: 0 auto 15px;
}

.featured-content p {
    color: var(--text-color-dtx);
    font-size: var(--button-text-dtx);
    font-family: var(--inter);
    line-height: 28px;
    font-weight: var(--font-weight-light);
    text-align: justify;
}


/******why choose section **********/

.choose-sec-heading h3 {
    text-align: center;
}

section.expert-list-sec {
    margin-top: -50px;
}


/**********expert list section **********/

.expert-list-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expert-list-content {
    max-width: 50%;
    width: 100%;
    padding: 0 15px;
}

ul.list-content {
    padding: 0;
}

ul.list-content li strong {
    color: var(--primary-color-tdx);
    font-size: var(--bold-text);
    font-weight: var(--font-weight-bold);
}

ul.list-content li {
    color: var(--text-color-dtx);
    font-size: var(--body-text);
    font-weight: var(--font-weight-medium);
    line-height: 40px;
    padding-bottom: 50px;
}

.expert-list-img {
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.expert-list-img img {
    max-width: 100%;
}


/**********form logo ***********/

section.form-sec {
    padding-bottom: 100px;
    margin-top: -50px;
}

.form-logo-row {
    display: flex;
    justify-content: space-between;
}

.msg-logo-content {
    max-width: 50%;
    width: 100%;
}

.msg-logo-content img {
    max-width: 100%;
    width: 75%;
}

.msg-logo-content p {
    color: var(--text-color-dtx);
    opacity: 0.5;
    font-family: var(--inter);
    font-size: var(--body-text);
    font-weight: var(--font-weight-regular);
    line-height: 30px;
}

.form-col {
    max-width: 50%;
    width: 100%;
}

.form-col {
    max-width: 50%;
    width: 100%;
    padding: 50px 100px;
}

::placeholder {
    color: #B1B1B1;
    font-weight: var(--font-weight-medium);
}

#name-f,
#email-f,
#textarea-f {
    width: 100%;
    padding: 18px 8px;
    background: var(--accent-color-dtx);
    border: 1px solid #B1B1B1;
    border-radius: 8px;
}

#name-f:focus-visible::placeholder,
#email-f:focus-visible::placeholder,
#textarea-f:focus-visible::placeholder {
    color: var(--primary-color-tdx);
    font-weight: var(--font-weight-bold);
}

#name-f:focus-visible,
#email-f:focus-visible,
#textarea-f:focus-visible {
    border: 1px solid var(--secondary-color-tdx);
    outline: 0 !important;
}

#btn-sumbit {
    width: 100%;
    padding: 18px 8px;
    background: var(--secondary-color-tdx);
    color: var(--color-white-tdx);
    font-size: var(--body-text);
    font-weight: var(--font-weight-bold);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

#btn-sumbit:after {
    content: " ";
    background-image: url(./image/send.png);
    width: 35px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 10px;
    position: relative;
    top: 6px;
}

#btn-sumbit:focus-visible {
    border: 0;
    outline: 0;
}


/***************form validation css *****************/

.f-feild {
    margin-bottom: 40px;
}

p.error-msg {
    text-align: end;
    color: var(--error-msg-color);
    font-size: var(--promoted-btn);
    font-weight: var(--font-weight-medium);
    font-family: var(--inter);
}

.error-input>input {
    border: 1px solid var(--error-msg-color) !important;
}

.error-input>input:focus-visible {
    border: 1px solid var(--error-msg-color) !important;
    outline: 0;
}

.error-input>textarea {
    border: 1px solid var(--error-msg-color) !important;
}

.error-input>input {
    background: url('./image/warning.png') !important;
    background-repeat: no-repeat !important;
    display: block;
    background-position: 98% center !important;
    background-size: 20px !important;
    padding-right: 40px !important;
}

.error-input>textarea {
    background: url('./image/warning.png') !important;
    background-repeat: no-repeat !important;
    display: block;
    background-position: right 10px bottom 20px !important;
    background-size: 20px !important;
    padding-right: 40px !important;
}


/************footer sec **********/

.footer-sec {
    background: var(--secondary-color-tdx);
    padding: 50px 0px;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

ul.footer-service-list {
    padding: 20px 0 0 0;
    list-style: none;
}

.footer-block-one p {
    color: var(--color-white-tdx);
    font-size: var(--body-text);
    font-family: var(--inter);
    font-weight: var(--font-weight-medium);
    line-height: 31px;
    padding-top: 10px;
}

.footer-block-three a {
    color: var(--color-white-tdx);
    font-size: var(--body-text);
    font-family: var(--inter);
    font-weight: var(--font-weight-medium);
    line-height: 31px;
    text-decoration: underline;
}

.footer-block-three h6 {
    padding-bottom: 20px;
}

.footer-block-one a {
    color: var(--color-white-tdx);
    font-size: var(--body-text);
    font-family: var(--inter);
    font-weight: var(--font-weight-medium);
    line-height: 31px;
    text-decoration: underline;
}

ul.footer-service-list li {
    color: var(--color-white-tdx);
    font-size: var(--body-text);
    font-family: var(--inter);
    font-weight: var(--font-weight-medium);
    line-height: 40px;
}

.divider-footer {
    border-top: 1px solid var(--color-white-tdx);
}

.divider-footer p {
    padding-top: 20px;
    text-align: center;
    color: var(--color-white-tdx);
    font-size: var(--body-text);
    font-family: var(--inter);
    font-weight: var(--font-weight-semi-bold);
}


/*************responsive strt here ************/

@media only screen and (max-width:1030px) {
    .banner-featured {
        flex-direction: column-reverse;
    }
    .featured-text {
        max-width: 100%;
        width: 100%;
        padding-bottom: 30px;
        padding-top: 30px;
        padding-right: 0px;
    }
    .featured-img {
        max-width: 100%;
        width: 100%;
        padding: 250px;
    }
    .featured-cards-col {
        border-right: 0px solid var(--boder-color);
        padding: 0 50px;
        max-width: 100%;
        width: 100%;
        margin-bottom: 50px;
    }
    .expert-list-row {
        flex-direction: column-reverse;
    }
    .expert-list-content {
        max-width: 100%;
        width: 100%;
        padding: 0 15px;
    }
    .form-col {
        padding: 50px 50px;
        max-width: 100%;
        width: 100%;
    }
    .form-logo-row {
        flex-direction: column;
    }
    .msg-logo-content {
        max-width: 100%;
        width: 100%;
    }
    .footer-row {
        flex-direction: column;
    }
}


/**********768 ***************/

@media only screen and (max-width:768px) {
    .service-sec {
        padding: 20px 0px 100px 0px;
    }
    .service-heading h2,
    .choose-sec-heading h3 {
        font-size: 40px;
    }
    .services-cards-row {
        padding: 50px 0;
    }
}


/*************mobile *************/

@media only screen and (max-width:767px) {
    .featured-img {
        padding: 130px;
    }
    .featured-text h1 {
        font-size: 40px;
    }
    .featured-text h1 span {
        font-size: 55px;
    }
    .featured-cards-col {
        padding: 0 15px;
    }
    .service-card-sec {
        padding-bottom: 50px;
        margin-top: 0;
    }
    section.expert-list-sec {
        margin-top: -15px;
    }
    section.form-sec {
        margin-top: -25px;
    }
    .service-sec {
        padding: 20px 0px 50px 0px;
    }
    .service-heading h2,
    .choose-sec-heading h3 {
        font-size: 24px;
    }
    ul.list-content li {
        padding-bottom: 20px;
    }
    ul.list-content li strong {
        font-size: 24px;
    }
    .msg-logo-content h5 {
        font-size: 20px;
    }
    .form-col {
        padding: 20px 0px;
    }
    .footer-block-one {
        margin-bottom: 20px;
    }
    ul.footer-service-list li {
        font-size: 18px;
    }
    ul.footer-service-list {
        padding: 0px 0 0 0;
        list-style: none;
    }
    .footer-block-three h6 {
        padding-bottom: 0px;
    }
    .footer-block-two {
        margin-bottom: 20px;
    }
    /**************** logo and other center *************/
    .header-logo-row {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .featured-text h1 {
        text-align: center;
    }
    .featured-text button {
        margin: 15px auto 0;
    }
    .footer-block-one,
    .footer-block-two,
    .footer-block-three {
        text-align: center;
    }
}