:root {
    --color-white: #fff;
    --error-msg-color: #E15C52;
    --dark-black-color: #2B2B2B;
    --pacific-blue-color: #009FB5;
    --museo-sans: 'Museo Sans';
    --outfit: 'Outfit';
    /*** FONT WEIGHT ***/
    --font-weight-bold: 700;
    --font-weight-medium: 500;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('fonts/SourceSerifPro-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('fonts/ArialMT.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Arial GEO';
    src: url('fonts/ArialGEOBold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/MuseoSans_500-webfont.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/MuseoSans_700-webfont.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Gochi Hand';
    src: url('fonts/GochiHand-Regular.woff') format('woff');
    font-weight: normal;
}

.all-page-bg-clr {
    background: #FDFDFE;
}

.container-site {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


/**** header***/

.row-log {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0;
}

.logo-col img {
    max-width: 100%;
    width: 180px;
}

p.country-name-logo {
    text-align: end;
    color: var(--dark-black-color);
    font-family: var(--outfit);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
}


/*******comming soon page css**********/

section.comming-soon {
    padding: 50px 0 100px;
}

.yello-img-left {
    padding-top: 50px;
}

h1.coomig-soon-heading {
    color: var(--dark-black-color);
    font-weight: 400;
    font-size: 51px;
    font-family: 'Arial';
}

.img-fprm-comming-soon {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.yello-img-left img {
    max-width: 100%;
    height: 380px;
    width: 475px;
    object-fit: contain;
    margin: 0 auto;
}

.yello-img-left,
.right-form-commingsoon {
    max-width: 50%;
    width: 100%;
}

.right-form-commingsoon {
    padding: 0 40px;
}

p.free-job-posting {
    padding: 10px 10px 13px;
    background: var(--dark-black-color);
    color: var(--color-white);
    font-family: 'Arial';
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

.emil-subscribe-soon {
    padding: 30px 0;
    display: flex;
    position: relative;
}

input.email-form {
    width: 80%;
    box-shadow: 0px 7px 60px 0px #0000001A;
    border: 1px solid rgb(0 0 0 / 30%);
    border-radius: 8px 0px 0px 8px;
    padding: 12px 16px;
}

.subscribe-btn {
    background: #009FB5;
    color: var(--color-white);
    border-radius: 0px 8px 8px 0px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Arial';
    /* font-family: 'Outfit'; */
    border: 0;
    line-height: 24px;
    padding: 12px 0px;
    width: 20%;
}

.check-box-comming-soon {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 30px;
}

.check-box-comming-soon label {
    font-size: 16px;
    color: var(--dark-black-color);
    font-weight: 400;
    font-family: 'Arial';
    line-height: 20px;
}

p.info-comming {
    color: var(--dark-black-color);
    font-weight: 400;
    font-family: 'Arial';
    font-size: 16px;
}

p.info-comming a {
    color: var(--dark-black-color);
    font-weight: 700;
    text-decoration: underline;
    font-family: 'Arial';
    font-size: 16px;
}

input.email-form:focus-visible {
    outline: 0 !important;
}

.error-input>input {
    border: 1px solid var(--error-msg-color) !important;
}

.error-input>input {
    background: url('./image/warning.png');
    background-repeat: no-repeat;
    display: block;
    background-position: 98% center;
    background-size: 20px;
    padding-right: 40px !important;
}

.selct-form-soon {
    position: relative;
}

p.error-msg {
    text-align: start;
    color: var(--error-msg-color);
    font-size: 14px;
    line-height: 46px;
    font-weight: var(--font-weight-medium);
    font-family: 'Arial';
    text-transform: capitalize;
    position: absolute;
    bottom: -3px;
    margin-bottom: 0;
}

p.error-msg-soon {
    text-align: start;
    color: var(--error-msg-color);
    font-size: 14px;
    line-height: 40px;
    font-weight: var(--font-weight-medium);
    font-family: 'Arial';
    text-transform: capitalize;
    position: absolute;
    bottom: -3px;
    margin-bottom: 0;
}

.seacond-row-coming {
    padding: 150px 0 100px 0;
}

h2.coomig-soon-heading-two {
    color: var(--dark-black-color);
    font-weight: 700;
    font-size: 50px;
    font-family: 'Gochi Hand';
}

h2.coomig-soon-heading-two span {
    color: var(--pacific-blue-color);
}

p.job-posting-text {
    color: var(--dark-black-color);
    font-family: 'Arial';
    font-size: 34px;
    line-height: 48px;
    font-weight: 400;
    text-align: left;
    width: 950px;
    padding: 20px 0;
}

.tree-img-comingsoon {
    text-align: end;
}

.tree-img-comingsoon img {
    max-width: 100%;
}

.laptop-sec img {
    max-width: 100%;
    width: 100%;
}

.collision-sec {
    background-image: url('./image/text-balck-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0 150px 0;
}

.left-text-collision {
    width: 510px;
}

p.collision-text-para {
    color: var(--dark-black-color);
    font-size: 26px;
    line-height: 34px;
    font-weight: 400;
    font-family: 'Arial';
    margin-bottom: 26px;
}

.bottom-sec-coming {
    background-image: url('./image/meet-founder.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.collosion-btn {
    background: var(--dark-black-color);
    color: #fff;
    font-size: 26px;
    line-height: 34px;
    font-weight: 400;
    font-family: 'Arial';
    padding: 14px 30px 14px 30px;
    border-radius: 40px;
    border: 0;
}

.register-btn {
    display: block;
    margin: 50px auto 0;
    background: #288C70;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Arial';
    padding: 20px 60px 20px 60px;
    border-radius: 40px;
    border: 1px solid #288C70;
    min-width: 315px;
}

img.mbl-group {
    display: none;
}

.text-bottom-coming {
    background: #2B2B2BA6;
    color: #fff;
    width: 475px;
    margin: 0 auto;
}

p.bottom-heading-coming {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-white);
    font-family: 'Arial';
    font-weight: 700;
}

p.bottom-text-coming {
    margin: 0;
    padding: 0 30px 20px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: var(--color-white);
    font-family: 'Arial';
    font-weight: 400;
}

.laptop-tabledata {
    padding-top: 100px;
}

.founder-name {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    position: relative;
}

.name-left-founder,
.name-right-founder {
    background: #2B2B2BA6;
    min-width: 353px;
    text-align: center;
    padding: 15px 0;
}

.left-founder,
.right-founder {
    font-size: 28px;
    color: var(--color-white);
    font-family: var(--source-pro);
    font-weight: 500;
}


/********coming soon model******/

section.model-popup-2 {
    z-index: 2;
}

.cmingsoon-logo {
    text-align: center;
}

.cmingsoon-logo img {
    max-width: 100%;
    margin: 0 auto;
}


/* .hide-model-popup {
    display: none !important;
} */

section.model-popup-comingsoon {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgb(0 0 0 / 80%);
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-bg-cmingsoon {
    width: 320px;
    margin: 0 auto;
}

.popup-content-cmingsoon {
    width: 100%;
    height: 370px;
    position: relative;
}

.close-cmingsoon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.cmingsoon-logo-model {
    padding: 40px 0 12px 0;
    text-align: center;
}

p.text-cmingsoon-succes {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: #0E1514;
    font-family: 'Arial';
    font-weight: 700;
}

.uper-part-cmingsoon {
    background: #fff;
    padding: 20px;
    border-radius: 23px 23px 0px 0px;
}

.lower-cmingsoon-success {
    padding: 40px 15px;
    border-radius: 0px 0px 23px 23px;
    background: #009FB5;
}

p.text-cmingsoon-sucess {
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0;
    color: var(--color-white);
    font-family: 'Arial';
    font-weight: 700;
}

@media only screen and (max-width:1050px) {
    /*******comming soon page **********/
    h1.coomig-soon-heading,
    h2.coomig-soon-heading-two {
        font-size: 34px;
    }
    .img-fprm-comming-soon {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        flex-direction: column;
    }
    p.free-job-posting {
        font-size: 20px;
        padding: 8px 5px 8px;
    }
    .yello-img-left,
    .right-form-commingsoon {
        max-width: 100%;
        width: 100%;
    }
    .yello-img-left {
        padding-bottom: 50px;
        text-align: center;
    }
    .right-form-commingsoon {
        padding: 0;
    }
    .seacond-row-coming {
        padding: 50px 0;
    }
    p.job-posting-text {
        font-size: 24px;
        line-height: 30px;
    }
    p.collision-text-para,
    .collosion-btn {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    section.comming-soon {
        padding: 50px 0 0px;
    }
    .yello-img-left {
        padding-top: 0px;
    }
}

@media only screen and (max-width:859px) and (min-width:768px) {
    /******header******/
    .row-log {
        align-items: center;
    }
    p.job-posting-text {
        width: auto;
    }
}

@media only screen and (max-width:767px) {
    .logo-col {
        max-width: 40%;
        width: 100%;
    }
    .row-log {
        gap: 25px;
        align-items: center;
    }
    .logo-col img {
        max-width: 100%;
    }
    /*******comming soon page **********/
    section.comming-soon {
        padding: 30px 0;
    }
    h1.coomig-soon-heading {
        font-size: 24px;
    }
    h2.coomig-soon-heading-two {
        font-size: 24px;
    }
    p.free-job-posting {
        font-size: 17px;
    }
    input.email-form {
        width: 75%;
    }
    .subscribe-btn {
        width: 25%;
    }
    p.job-posting-text {
        width: auto;
    }
    .collision-sec {
        padding: 50px 0 50px 0;
        background-position: 0px -45px;
        background-size: contain;
    }
    .left-text-collision {
        width: 250px;
    }
    p.job-posting-text {
        font-size: 16px;
        line-height: 24px;
    }
    .tree-img-comingsoon {
        text-align: center;
    }
    .seacond-row-coming {
        padding: 50px 0 0 0;
    }
    img.desktop-img {
        display: none;
    }
    img.mbl-group {
        display: block;
        width: 100%;
    }
    .register-btn {
        display: block;
        margin: 50px auto;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        padding: 16px 50px 16px 50px;
    }
    p.collision-text-para {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .collosion-btn {
        font-size: 16px;
        line-height: 18px;
    }
    .text-bottom-coming {
        background: #2B2B2B;
        color: #fff;
        width: auto;
    }
    p.bottom-heading-coming {
        padding: 20px 0;
        border-bottom: 1px solid #fff;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        color: var(--color-white);
        font-family: 'Arial';
        font-weight: 700;
    }
    p.bottom-text-coming {
        margin: 0;
        padding: 0 20px 20px;
        text-align: justify;
        font-size: 16px;
        line-height: 25px;
        color: var(--color-white);
        font-family: 'Arial';
        font-weight: 400;
    }
    .bottom-sec-coming {
        background: none;
        height: auto;
    }
    .founder-name {
        padding: 0;
    }
    .name-left-founder {
        position: absolute;
        top: -110px;
    }
    .name-left-founder,
    .name-right-founder {
        background: #2B2B2BA6;
        min-width: 142px;
        text-align: center;
        padding: 11px 10px;
    }
    .name-right-founder {
        position: absolute;
        top: -150px;
        right: -5px;
    }
    .left-founder,
    .right-founder {
        font-size: 18px;
    }
}